#App {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

#Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays on top */
}    

#OldUploads {
  flex: 1; /* Take up remaining space between the Sidebar and BottomBar */
  overflow-y: auto; /* Make it scrollable */
  
  padding-top: 10vh; /* Space for fixed TopBar */
  padding-bottom: 40vh; /* Space for fixed BottomBar */
}

#NewUpload {

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays on top */
}    