* {
  margin: 0;
  padding: 0;
}


body {
  /*
  display: none;
  */
  background-color: black;
  color: white;
}





@media (max-width: 700px) and (min-height: 710px),
  (max-width: 1100px) and (min-height: 1200px),
  (max-width: 2200px) and (min-height: 2300px) {

    
  body {
    display: initial; /* Reset to default */
  }
}
